/* Global setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 24px;
    --font-xl: 40px;
    --font-xxl: 76px;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;
    --font-extrabold: 800;
    --white: white;
    --black: #000000;
    --grey: #a7a7a7;
    --light-blu: #B4D0E7;
    --blue: #0061FF;
    --blue-hover: #3b7aff;
    --electric-blue: #0000EE;
    --bordeaux: #61082B;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--font-xxl);
    font-weight: var(--font-extrabold);
}

h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
}

h3 {
    font-size: var(--font-l);
    font-weight: var(--font-bold);
}

h4 {
    font-size: var(--font-s);
    font-weight: var(--font-bold);
}

p {
    font-size: var(--font-m);
    font-weight: var(--font-regular);
}

a:visited {
    color: var(--electric-blue);
}

body {
    background-color: var(--white);
    color: var(--black);
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

button {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 16px;
    border: 0;
    font-size: var(--font-m);
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-hover);
    transition: 0.5s;
}

.btn-outline {
    background-color: transparent;
    color: var(--black);
    padding: 12px 16px;
    border: 2px solid var(--black);
    font-size: var(--font-m);
    cursor: pointer;
}

.btn-outline:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s;
}

/* ----- HEADER ----- */
header {
    width: 100%;
    background-color: var(--white);
    margin: 0 auto;
}

header li:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    height: 80px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

nav img:hover {
    cursor: pointer;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav div:first-child img {
    margin-right: 40px;
}

nav div:first-child li {
    margin-right: 40px;
}

nav div:last-child li {
    margin-left: 40px;
}

nav div:last-child button {
    margin-left: 20px;
}

nav img, nav ul, nav button, nav li {
    display: inline-block;
}

/* hero */
.hero {
    min-height: 740px;
    padding-top: 100px;
    background-color: var(--light-blu);
    position: relative;
}

.hero h1 {
    padding-bottom: 70px;
}

.hero button {
    margin: 35px 0;
}

.hero i {
    padding-top: 80px;
    padding-bottom: 25px;
    font-size: 40px;
}

.hero i:hover {
    cursor: pointer;
    color: var(--black)
}

.hero a:visited {
    color: var(--black);
}

.inner-hero {
    display: flex;
    justify-content: flex-start;
}

.inner-hero-1 {
    flex-basis: 65%;
}

.inner-hero img {
    width: 100%;
    margin-bottom: -80px;
}

/* ----- MAIN ----- */

/* section plans - check area */
#section-1 h2 {
    padding-bottom: 75px;
}

#section-1 {
    padding-top: 150px;
}

.check-plans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

#section-1 div:first-of-type [type="radio"] {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

#section-1 div:first-of-type label {
    margin-right: 50px;
}

/* section plans - first col blocs */
.plans {
    display: flex;
    align-items: stretch;
}

.col {
    border: 1px solid var(--grey);
    width: calc(100% / 3);
}

.col-2 {
    margin: 0 50px;
}

.col-3 {
    border: 1px solid var(--grey);
    width: 100%;
    margin-top: 50px;
}

.table-head {
    border-bottom: 1px solid var(--grey);
    text-align: center;
    padding: 10px;
}

.col div:first-child i, .col-3 div:first-child i {
    padding-right: 10px;
    display: inline;
}

.col div:first-child p, .col-3 div:first-child p {
    display: inline;
}

.inner-col {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.inner-col h3 {
    padding-bottom: 20px;
}

.inner-col p {
    font-size: var(--font-s);
}

.inner-col ul {
    padding-top: 40px;
    padding-left: 25px;
}

.inner-col ul li {
    text-indent: -23px;
    padding-bottom: 20px;
}

.inner-col li i, .inner-col li p {
    display: inline;
}

.inner-col li i {
    padding-right: 5px;
}

.inner-col .fa-check {
    color: var(--blue);
}

.inner-col button {
    margin-top: 40px;
    margin-bottom: 35px;
}

/* section plans - last col */
.inner-col-3 {
    display: flex;
    justify-content: flex-start;
    padding: 40px 35px;
}

.inner-col-3 div:nth-child(1) {
    text-align: left;
    flex-basis: 70%;
}

.inner-col-3 div:nth-child(2) {
    text-align: right;
    flex-basis: 30%;
}

.inner-col-3 div button {
    width: 100%;
}

.inner-col-3 h3 {
    font-size: var(--font-l);
    padding-bottom: 30px;
}

.inner-col-3 h4 {
    font-size: var(--font-m);
    padding-bottom: 60px;
}

.inner-col-3 p {
    font-size: var(--font-m);
}

/* section partner */
#section-2 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

#section-2 img {
    width: 600px;
}

.box {
    padding: 50px;
}

.box h3 {
    padding-bottom: 15px;
    font-size: var(--font-l);
}

.box p {
    padding-bottom: 40px;
    font-size: var(--font-m);
}

/* section features */
#section-3 {
    padding-top: 150px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#section-3 h2 {
    padding-bottom: 100px;
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
}

.features div h3 {
    font-size: var(--font-l);
    font-weight: var(--font-bold);
    padding-bottom: 40px;
}

.features div {
    width: calc((100% - 100px) / 3);
}

.features img {
    width: 100%;
}

/* section reputation */
#section-4 {
    padding-top: 220px;
    padding-bottom: 100px;
    padding-right: 20%;
}

#section-4 h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
    padding-bottom: 80px;
}

#section-4 p {
    font-size: var(--font-m);
}

/* section clients */
#section-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clients-bloc-1 {
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
    flex-wrap: wrap;
}

.clients-bloc-2 {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
    height: 30vw;
    flex-wrap: wrap;
}

#section-5 img:not(.main-client img) {
    width: 50%;
    filter: invert();
}

.main-client {
    width: 35vw;
    padding: 40px;
}

.main-client img {
    width: 50%;
}

.hr {
    width: 50px;
    border-top: 1px solid var(--grey);
    margin-top: 30px;
    margin-bottom: 30px;
}

.ovfw-scroll {
    overflow: auto;
}

.bloc-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #A2D39B;
    border: 8px solid #D1E9CD;
}

.bloc-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #61082B;
}

.bloc-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #0093CE;
}

.bloc-04 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #FF1C1C;
}

.bloc-05 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #D5001F;
}

.bloc-06 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #B4D0E7;
}

.bloc-07 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #0D2481;
}

.bloc-08 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #FFD830;
}